#mg-trans .modal-body{
    padding: 20px;
}
#mg-trans .modal-body strong, #mg-trans .modal-body label{
    padding: 10px 0;
    display: inline-block;
    text-transform: uppercase;
    width: 70px;
}
#mg-trans .modal-body strong.last-child{
    padding: 10px 0 20px;
}
#mg-trans .modal-body textarea{
    max-width: 450px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #969696;
    padding: 5px;
}
#translator-trigger, #translator-trigger:hover{
    position: fixed;
    top: 50%;
    left: 0;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    color: inherit;
    border-radius: 0 42px 42px 0;
    z-index: 9999999999999;
}
#translator-trigger.off .fa-toggle-off{
    display: inline-block;
}
#translator-trigger.off .fa-toggle-on{
    display: none;
}
#translator-trigger.on .fa-toggle-off{
    display: none;
}
#translator-trigger.on .fa-toggle-on{
    display: inline-block;
}

.mg-trans-trigger-active{
    cursor: pointer;
}
.mg-trans-trigger-active:hover, .mg-trans-trigger-active:hover *{
    background: #b8c6df !important;
    color: white !important;
}

.mg-trans-trigger:not(.mg-trans-anchor-origin), .mg-trans-trigger:not(.mg-trans-anchor-origin):hover{
    color: inherit;
}

.mg-trigger-origin{
    color: inherit !important;
    background-color: inherit !important;
    font-size: inherit !important;
    display: inline !important;
    width: inherit !important;
    height: inherit !important;
    float: inherit !important;
    text-transform: inherit !important;
    font-style: inherit !important;
    padding: 0 !important;
    margin: 0 !important;
}

.mg-trans-predefined{
    background-color: #ddd;
    border: 1px solid black;
    padding: 30px 0;
}

.mg-trans-predefined h2{
    color: black;
    margin: 0 0 15px;
}

.mg-trans-predefined .container .mg-trans-trigger{
    color: #e3132c;
    text-decoration: underline;
}