#mg-trans .modal-body{
    padding: 20px;
}
#mg-trans .modal-body strong, #mg-trans .modal-body label{
    padding: 10px 0;
    display: inline-block;
    text-transform: uppercase;
    width: 70px;
}
#mg-trans .modal-body strong.last-child{
    padding: 10px 0 20px;
}
#mg-trans .modal-body textarea{
    max-width: 450px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #969696;
    padding: 5px;
}
#translator-trigger, #translator-trigger:hover{
    position: fixed;
    top: 50%;
    left: 0;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    color: inherit;
    border-radius: 0 42px 42px 0;
}
#translator-trigger.off .fa-toggle-off{
    display: inline-block;
}
#translator-trigger.off .fa-toggle-on{
    display: none;
}
#translator-trigger.on .fa-toggle-off{
    display: none;
}
#translator-trigger.on .fa-toggle-on{
    display: inline-block;
}
.mg-trans-trigger:hover, .mg-trans-trigger:hover *{
    background: #b8c6df !important;
    color: white !important;
}
.mg-trans-anchor{
    display: inline-block;
}
