<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="text-align:center; font-size: 12px;">
*List of missing Translations*<br/>

||Domain||Key||<br/>
{% for row in missing|default([]) %}
    {% for cell in row %}|{{ cell }}{% endfor %}|<br/>
{% endfor %}

<p>
    This is an automated email sent via command
</p>
</body>
</html>